<!DOCTYPE html>
<html>
  <head>
    <title>Shelver</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container mx-auto p-5 italic border-b"><%= link_to "Nick's Shelver App", root_path, class: 'hover:underline' %></header>
    <main class="container mx-auto mt-10 px-5">
      <%= render FlashNoticeComponent.new(text: notice) %>
      <%= yield %>
    </main>
  </body>
</html>
